<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354207973122-otgpt9mj6u541qepalcs3hdj6tomc574.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354207973122-otgpt9mj6u541qepalcs3hdj6tomc574</string>
	<key>API_KEY</key>
	<string>AIzaSyBG6H6xzxyin0qY1wswbq0CznrdYH5T8t0</string>
	<key>GCM_SENDER_ID</key>
	<string>354207973122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morozpavlo.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-3d220</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-3d220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354207973122:ios:141bf64ef25a71fed9cc1b</string>
</dict>
</plist>